<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <app-databinding></app-databinding>
      </div>
      <div class="col-sm-6">
         <app-directives></app-directives>  
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
         <app-user-form></app-user-form>
        
      </div>
      <div class="col-sm-6">
       <app-material-component></app-material-component>
     </div>
      </div>
<hr><hr>
      <div class="row">
        <div class="col-sm-6">
          <app-todo-list-app></app-todo-list-app>
          
        </div>
        <div class="col-sm-6">
        
       </div>
        </div>
    </div>
  
</body>
</html>